# Site settings
short_title: OpenDevStack
title: OpenDevStack
description: >
  OpenDevStack makes setting up development projects easy and consistent.

# Pagination
paginate: 5
paginate_path: "/blog/page:num/"

# Plugins
plugins:
- jekyll-sitemap
- jekyll-feed
- jekyll-paginate

# Twitter
twitter:
  username: opendevstack

# GitHub (required for local site builds)
github:
  owner_name: opendevstack
  repository_name: opendevstack.github.io
  repository_url: https://github.com/opendevstack/opendevstack.github.io
  organization: https://github.com/opendevstack

sitemap_url: https://www.opendevstack.org

# Build settings
baseurl:
permalink: /blog/:year/:month/:day/:title
markdown: kramdown
highlighter: rouge
relative_permalinks: false

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  -
    scope:
      path: ""
      type: "events"
    values:
      layout: "event"
  -
    scope:
      path: ""
      type: "authors"
    values:
      layout: "author-profile"
# Collections
collections:
  authors:
    output: true
    permalink: /authors/:path/
  events:
    output: true
    permalink: /events/:path/
  doc:
    output: true


# this must be excluded for the gradle build
# otherwise jekyll tries to source this directory as well
# ... and failes ..
exclude: [build]
