<div id="documentation_navigation"> 
    <div class="menu_icon"></div>
    <ul>
        <li><a href="#introduction">Introduction</a> </li>
        <li><a href="#requirements">Requirements</a> </li>
            <ul class="oblique">
                <li><a href="#git">Git</a> </li>
                <li><a href="#vagrant">Vagrant</a> </li>
                <li><a href="#virtualbox">Virtualbox</a> </li>
                <li><a href="#atlassian-tools-licenses">Atlassian tools licenses</a> </li>
                <li><a href="#minishift">Minishift</a> </li>
                <li><a href="#cygwin--linux">Cygwin / Linux</a> </li>
                <li><a href="#ansible">Ansible</a> </li>
            </ul>
        <li><a href="#setup-your-local-environment">Setup your local environment</a></li>
            <ul>
                <li><a href="#install-tailor-utility">Install tailor Utility</a></li>
                <li><a href="#prepare-infrastructure">Prepare infrastructure</a> </li>
                <li><a href="#install-atlassian-tools-and-rundeck">Install Atlassian Tools and Rundeck</a> </li>
                    <ul class="oblique">
                        <li><a href="#crowd-setup">Crowd Setup</a> </li>
                        <li><a href="#bitbucket-setup">Bitbucket Setup</a> </li>
                        <li><a href="#jira-setup">Jira Setup</a> </li>
                        <li><a href="#confluence-setup">Confluence Setup</a> </li>
                        <li><a href="#rundeck-setup">Rundeck Setup</a> </li>
                    </ul>
                <li><a href="#configure-minishift">Configure Minishift</a> </li>
                    <ul class="oblique">
                        <li><a href="#minishift-startup">Minishift startup</a> </li>
                        <li><a href="#configure-the-path-for-the-oc-cli">Configure the path for the OC CLI</a> </li>
                        <li><a href="#login-with-the-cli">Login with the CLI</a> </li>
                        <li><a href="#setup-the-base-template-project">Setup the base template project</a> </li>
                        <li><a href="#adjust-user-rights-for-the-developer-user">Adjust user rights for the developer user</a> </li>
                        <li><a href="#create-service-account-for-deployment">Create service account for deployment</a> </li>
                        <li><a href="#install-minishift-certificate-on-atlassian-server">Install Minishift certificate on Atlassian server</a> </li>
                    </ul>
                <li><a href="#prepare-environment-settings">Prepare environment settings</a></li>
                <li><a href="#setup-and-configure-nexus3">Setup and Configure Nexus3</a></li>
                    <ul class="oblique">
                        <li><a href=#configure-repository-manager">Configure Repository Manager</a></li>  
                    </ul>
                <li><a href="#import-base-templates">Import base templates</a></li>
                <li><a href="#configure-cd-user">Configure CD user</a></li>
                <li><a href="#setup-and-configure-sonarqube">Setup and Configure Sonarqube</a></li>
                <li><a href="#prepare-rundeck-and-required-dockerfiles">Configure Rundeck</a></li>
                    <ul class="oblique">
                        <li><a href="#create-quickstarters-project">Create Quickstarters project</a></li>
                        <li><a href="#openshift-api-token">Openshift API token</a></li>
                        <li><a href="#cd-user-private-key">CD user private key</a></li>
                        <li><a href="##configure-scm-plugins">Configure SCM plugins</a></li>
                    </ul>
                <li><a href="#configure-provisioning-application">Configure provisioning application</a></li> 
            </ul>
        <li><a href="#try-out-the-opendevstack">Try out the OpenDevStack</a></li>
        <li><a href="troubleshooting">Troubleshooting</a></li>
    </ul>
</div>
<script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("documentation_navigation");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky && window.screen.width > 700) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
} 
</script>