
<div class="topnav" id="myTopnav">
    <a href="{{site.baseurl}}/">OpenDevStack</a>
    <a href="{{site.baseurl}}/doc/getting-started.html">DOCUMENTATION</a>
    <a href="{{site.baseurl}}/blog/index.html" target="_blank">BLOG</a>
    <a href="https://github.com/opendevstack"><span class="git-icon"></span></a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#8801;</a>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
