---
layout: bootstrap-default
---
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      {% if page.picture %}<img src="{{ site.baseurl}}/authors/{{ page.picture }}" class="img-fluid">{% endif %}
    </div>
    <div class="col-sm-8">
      {{ page.content }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      {% if page.website or page.email %}
       <ul class="list-unstyled">
         {% if page.email %}
         <li><i class="fa fa-envelope"></i> <a href="mailto:{{ page.email }}">{{ page.email }}</a></li>
         {% endif %}
         {% if page.website %}
         <li><i class="fa fa-user"></i> <a href="{{ page.website }}">{{ page.website | remove: "http://" }}</a></li>
         {% endif %}
       </ul>
       {% endif %}
    </div>
    <div class="col-sm-4">
      {% if page.social %}
      <ul class="list-unstyled">
        {% if page.social.twitter %}
          <li><i class="fab fa-twitter"></i>&nbsp;<a href="https://twitter.com/{{ page.social.twitter }}">{{ page.social.twitter }}</a></li>
        {% endif %}
        {% if page.social.github %}
          <li><i class="fab fa-github"></i>&nbsp;<a href="https://github.com/{{ page.social.github }}">{{ page.social.github }}</a></li>
        {% endif %}
        {% if page.social.stackoverflow %}
          <li><i class="fab fa-stack-overflow"></i>&nbsp;<a href="https://stackoverflow.com/users/{{ page.social.stackoverflow }}">{{ page.social.stackoverflow }}</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="list-unstyled">
        {% if page.social.facebook %}
          <li><i class="fab fa-facebook"></i>&nbsp;<a href="https://facebook.com/{{ page.social.facebook }}">{{ page.social.facebook }}</a></li>
        {% endif %}
        {% if page.social.xing %}
          <li><i class="fab fa-xing"></i>&nbsp;<a href="https://xing.com/profile/{{ page.social.xing }}">{{ page.social.xing }}</a></li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
<div class="container">
  <h2>Posts</h2>
  <ul class="list-unstyled">
    {% assign post_available = false %}
    {% for post in site.posts %}
      {% if page.username contains post.author %}
      {% assign post_available = true %}
      <li>
        <span class="post-meta">{% include post_date_author.html author=post.author date=post.date %}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
      </li>
      {% endif %}
    {% endfor %}
    {% if post_available == false %}
    <li>No posts available</li>
    {% endif %}
  </ul>
</div>
