<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
        {% include navbar.html %}  

        <div class="header-img index-img">
            <div>
                <h2>OpenDevStack</h2>
                <p>Rapid infrastructure generation and continuous delivery for your projects</p>
                <a id="visit-git-bt" href="{{ site.github.organization }}">Visit our repository</a>
            </div>
            
      </div>
        <div class="page-content">
            <div class="wrapper">
                    {{content}}
            </div>
        </div>
        {% include footer.html %}
    </body>    
</div>
